<!doctype html>
<html lang="">
  <body>
    <!-- Note: Lack of space between div and content is important -->
    <div id="content">{{{content}}}</div>
    <script src="js/bundle.js"></script>
  </body>
</html>
